<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a href="https://www.facebook.com/chiying.leung.1">Chi-Ying Leung</a>, a fashion industry veteran with a keen interest in learning how technology can connect consumers more closely to clothing brands. 
  </p>  
  <br />
  <p>  
    An economist by training, Chi hopes to merge her business knowledge with newfound technical skills to drive innovations in the apparel industry.
  </p>
  <br />
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'chi.jpg', class: 'img-responsive' %>
  </div>
  
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text center">Chi-Ying Leung</h2>
    <br />
    <p>
    Chi is a merchandise planner in the fashion industry. She has worked for such brands as Tommy Hilfiger, Ann Taylor, and Gucci, as well as for retailers like Macy's and Ross Stores. She has managed budgets up to $130 million for her particular business areas, working with buyers to offer the right product at the right price to optimize sales. Chi lives in New York City and enjoys watching and playing tennis.
    </p> 

</div>  

<br class="clear" />
<br />
<br />
<br />
<br />

